#page { margin-top: 50px; }
ol, ul { margin-bottom: 40px; }
pre input,
pre textarea {color: #85007B; box-shadow: none; border: none; background: none; outline: none; font-weight: bold; resize: vertical; height: 1.43em; }
pre textarea {width: 80%;}

.tutorial .section { border-top: 1px dashed #bbb; padding: 25px 0;}

.tutorial .row h2,
.tutorial .row h3 { margin-top: 0;}

.preview img {}
#image-preview { position: absolute; top: 0px; border-radius: 6px; }

.navbar-default { background: rgba(255,255,255,0.8) }

.background-thumbnails {width: 100px; display: inline-block; margin-right: 25px; }
.background-thumbnails .thumbnail div {height: 100px;}

.pink {
  background-color: #FFF8F8;
}

.green {
  background-color: #F2FEE8;
}

.blue {
  background-color: #E6EAFF;
}

.purple {
  background-color: #F4DFFF;
}

.grey {
  background-color: #F7F7F7;
}

.white {
  background-color: #FFFFFF;
}

canvas {
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #bbb;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.navbar-default .navbar-nav>li>.btn-download {
  padding: 6px;
  color: #fff;
}

.navbar-default .navbar-nav>li>.btn-download:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

.nav>li>.btn { margin-right: 10px;}