.container { margin-top: 25px; }
ol, ul { margin-bottom: 40px; }
pre input,
pre textarea {color: #85007B; box-shadow: none; border: none; background: none; outline: none; font-weight: bold; resize: vertical; height: 1.43em; }
pre textarea {width: 80%;}

.tutorial .section { border-bottom: 1px dashed #bbb; padding: 25px 0;}

.tutorial .row h2,
.tutorial .row h3 { margin-top: 0;}

#image-preview { position: absolute; top: 0px; border-radius: 6px; }

body {

}

.background-thumbnails .thumbnail div {height: 100px;}

.pink {
  background-color: #FFF8F8;
}

.green {
  background-color: #F2FEE8;
}

.blue {
  background-color: #E6EAFF;
}

.purple {
  background-color: #F4DFFF;
}

.grey {
  background-color: #F7F7F7;
}

.white {
  background-color: #FFFFFF;
}
